.header1{
    background-image: url(im.jpg);
    width:100%;
    height:100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display:flex;
    padding:4% 4%;
    justify-content: space-between;
    align-items: center;
}
.links{
 
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding:12px;
}
.links ul li a{
text-decoration: none;
    color:bisque;
    font-size: 31px;
    font-style: bold;
    cursor:pointer;
}
.text{
    width:80%;
    position:absolute;
    top:30%;
    bottom:50%;
    right:10%;
    color:white;
    text-align: center; 
}
.text h1{
    font-size:62px;
    color:aquamarine;
}
.text p{
    font-size:36px;
    color:white;
}
.hero-button{
    display:inline block;
    text-decoration: none;
    color: aliceblue;
    border:1px solid coral;
    padding:12px 34px;
    font-size:15px;
    font-style:bold;
    cursor: pointer;
}
.hero-button:hover{
    border:1px solid coral;
    background:coral;
    transition:1sec;
}
#f6{
    display:flex;
    background-color:bisque;
    padding: 2%;
    justify-content: space-between;
    flex-direction: row;
}
.f7 
{background-color:white ;
    color:black;
flex:1;
margin: 10px;
width:170px;
height:400px;
}
.f7 h2{
text-align: center;
font-size: 30px;
}
.f7 p{
    color:black;
}
.f8 
{background-color: white;
    color:black;
flex:1;
margin: 10px;}
.f8 h3{
    text-align: center;
    font-size:30px;
    }
    .f8 p{
        color:black;
    }
.f9
{background-color: white;
    color:black;
flex:1;
margin: 10px;}
.f9 h4{
    text-align: center;
    font-size: 30px;;
    }
    .f9 p{
        color:black;
    }